@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire|outline";
@import 'https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab&family=RocknRoll+One&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Quattrocento&family=Roboto+Slab&family=RocknRoll+One&display=swap';

/*---------------------------------> DOCUMENTATION <--------------------------------------*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

main{
    width: 100%;
   
}

#mainContainer{
    display: flex;
}

#navDocs{
    background-color: #161B22;
    color: white;
    box-sizing: border-box;
    height: 10vh;
    padding: 2%;
    /* border-bottom: 2px #1F2937 solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

#logo{
    font-family: Rancho sans-serif ;
    letter-spacing: 1px;
    font-size: large;
}

nav{
    font-family: 'RocknRoll One', sans-serif;
}

#navTitle span{
    font-size: larger;
    padding: 0 10px;
}

.navLinks{
    display: flex;
    font-family: sans-serif;
}

.navLink{
    text-decoration: none;
    color: whitesmoke;
    padding: 0.5rem;
    margin: 0 1rem;
}

.currentLink{
    background-color:#130f40 ;
}

aside{
    background-color: #111827;
    width: 20vw;
    display: flex;
    flex-direction: column;
    color: white;
    border-right: 2px #1F2937 solid;
    padding: 1% 2%;
    font-family: 'Roboto Slab', serif;
    position:sticky;
    top: 10vh;
    height: 90vh;
    overflow-y: auto;

}

aside a {
    color: whitesmoke;
    text-decoration: none;
    padding: 1rem 0.5rem;
}

#contentContainer{
    background-color: #0D1117;
    width: 80vw;
    font-family: 'Quattrocento', serif;
    font-weight: 500;
    color:whitesmoke;
    padding: 1% 2%;;
}

section h2{
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
}

mark{
    font-size: larger;
    background:#DDD6FE;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

mark>span{
    font-size: 22px;
}

section >h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: sans-serif;
    color: #cecece;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px
}

.componentDiv{
    padding: 1rem;
    border-bottom:1px solid white;
    border-top:1px solid white;
    border-radius: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: whitesmoke; */
}

footer{
    background-color: #161B22;
    height: 10vh;
    width: 100%;
    padding: 2%;
    color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerHead{
    display: flex;
    align-items: baseline;
}

.footerLogo{
    height: 5vh;
    width: 5vh;
   
}

.footerTitle{
    font-size: 1rem;
    font-family: 'RocknRoll One', sans-serif;
    padding: 0.3rem;
}

.footerLogo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footerFoot{
    padding-bottom: 0.3rem;
    font-family: sans-serif;
    font-size: 0.5rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    border:1px #130f40 solid;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    border-radius:100px;
    border-top: 2px #cecece solid;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4834d4;
    background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
  }

/* ---------------------------> COMPONENT LIBRARY : COMPONENTS <----------------------------*/

/* Component --> NAV */
.nav1{
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8%;
}

.logo{
    height: 90%
    
}
.nav1 .navLogo{
    height:100% ;
}

.navSearchBar{
    background-color: #f5f5f6;;
    color: #696e79;
    border-style: none;
    border-radius: 5px;
    height: 50%;
    width: 35%;
    padding: 3px 10px;
    
}
.nav1 ::placeholder{
    color: #696e79;;
    /* padding: 10px; */
}

.nav1 input:focus{
    outline: none;
}
.navIcons{
    width: 30%;
    display: flex;
    justify-content: space-around;
    color: #696e79;
}

.navIcons i{
    cursor: pointer;
}



/* Component --> CARD */

.card1, .cardSecondary{
    background-color:#F3F4F6 ;
    height: 350px;
    width: 240px;
    cursor: pointer;
    border: 1px black solid;
}

.imgDiv{
    background-color: brown;
    height: 70%;
}

.secondaryImgDiv{
    height: 65%;
}

.productImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardDetail{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    color: black;
    line-height: 18px;
}

.productTitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.productDescrip{
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.productPrice{
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
    padding-top: 5px;
    margin-top: 5px;
}

.strikeOut{
    text-decoration: line-through;
    color:#ff905a;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.secondaryBtnDiv{
    display: flex;
    justify-content: center;
    margin-top: 6px;
}


.secCardBtn{
    padding: 8px;
    background-color: transparent;
    border:1px #282c3f solid;
    outline: none;
    border-radius: 3px;
}

.secCardBtn:hover{
    background-color:#DDD6FE;
}


/* Components -----> BUTTONS */

/* PRIMARY BUTTON */
.btnPrimary{
    border-radius: 10px;
    padding: 12px 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: #3B82F6;
    border: 1px solid #3B82F6;
    color: #fff;
    max-width: 189px;
    text-align: center;
    margin: 10px 5px;
}

.btnPrimaryIcon{
    padding-right: 10px;
}

.btnPrimary:hover{
    background-color: white;
    color: #3B82F6;
    border: 1px solid white;
}

/* SECONDARY BUTTON */
.btnSecondary{
    border-radius: 10px;
    padding: 12px 15px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #3B82F6;
    background-color: #fff;
    letter-spacing: .4px;
    color: #3B82F6;
    margin: 10px 5px;
    text-align: center;
}

.btnSecondaryIcon{
    padding-right: 10px;
}

.btnSecondary:hover{
    background-color: #3B82F6;
    color: white;
    border: 1px solid #3B82F6;
}

/* COMPONENT -------> BADGES */

.badge{
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding: 2px 10px;
    text-transform: uppercase;
    font-size: small;
    border-radius: 2px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 10px 5px;
}

.badgeSuccess{
    background:#c6f6d5;
    color: #22543d;
}

.badgePrimary{
    background:#3b83f621;
    color: #3B82F6;
}

.badgeDelete{
    background-color: #fed7d7;
    color: #822727;
}

/* COMPONENTS ------> Avatar */
.avatar{
    border-radius: 50%;
    font-family: sans-serif;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarContact{
    background-color: #822727;
}

.avatarOrange{
    background-color: #ff5722;
   
}

.avtImg{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* COMPONENTS -------> ALERTS */
.alert{
    margin: 10px 0;
    padding: 4px 24px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    word-break: break-word;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.warning{
    border-left: 5px solid #ffe564;
    background-color: rgb(254, 235, 200);
}

.danger{
    border-left: 5px solid #d82c2c;
    background-color: rgb(254, 215, 215);
}

.success{
    border-left: 5px solid #1FC61D;
    background-color: rgb(198, 246, 213);
}

/* COMPONENTS -------> NOTIFICATIONS */
.notifDiv{
    max-height: 50vh;
    overflow-y: scroll;
}

.list{
    list-style: none;
    background-color: #1F2937;
}

.notif{
    padding:1.5rem 2rem;
    width: 20vw;
    background-color: #f5f5f6;
    color:black;
    border-bottom: 1px solid #161B22;
    text-align: center;
    transition: background-color 0.2s ease-out;

}

.notif:hover{
    
    background-color: #1F2937;
    color: white;
    cursor: pointer;
    
}


.inputWithIcon {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputField{
    width: 95%;
    padding:0.3rem ;
    outline: none;
    border-radius: 3px;
    border:none

}

.inputField:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

/* .inputWithIcon i.textFlied:focus + i {
    color: dodgerBlue;
} */