@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire|outline";
@import 'https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Slab&family=RocknRoll+One&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Quattrocento&family=Roboto+Slab&family=RocknRoll+One&display=swap';

/*---------------------------------> DOCUMENTATION <--------------------------------------*/

*{
    margin:0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

main{
    width: 100%;
   
}

#mainContainer{
    display: flex;
}

#navDocs{
    background-color: #161B22;
    color: white;
    box-sizing: border-box;
    height: 10vh;
    padding: 2%;
    /* border-bottom: 2px #1F2937 solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

#logo{
    font-family: Rancho sans-serif ;
    letter-spacing: 1px;
    font-size: large;
}

nav{
    font-family: 'RocknRoll One', sans-serif;
}

#navTitle span{
    font-size: larger;
    padding: 0 10px;
}

aside{
    background-color: #111827;
    width: 20vw;
    display: flex;
    flex-direction: column;
    color: white;
    border-right: 2px #1F2937 solid;
    padding: 1% 2%;
    font-family: 'Roboto Slab', serif;
}

aside a {
    color: whitesmoke;
    text-decoration: none;
}

#contentContainer{
    background-color: #0D1117;
    width: 80vw;
    font-family: 'Quattrocento', serif;
    font-weight: 500;
    color:whitesmoke;
    padding: 1% 2%;;
}

section h2{
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
}

mark{
    font-size: larger;
    background:#DDD6FE;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

mark>span{
    font-size: 22px;
}

section >h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: sans-serif;
    color: #cecece;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding:10px
}

/* ---------------------------> COMPONENT LIBRARY : COMPONENTS <----------------------------*/

/* Component --> NAV */
.nav1{
    box-sizing: border-box;
    background-color: #6D28D9;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8%;
}

.logo{
    height: 90%
    
}
.nav1 .navLogo{
    height:100% ;
}

.navSearchBar{
    background-color: #8B5CF6;
    color: #DDD6FE;
    border-style: none;
    border-radius: 5px;
    height: 50%;
    width: 35%;
    padding: 3px 10px;
    
}
.nav1 ::placeholder{
    color: #DDD6FE;
    /* padding: 10px; */
}

.nav1 input:focus{
    outline: none;
}
.navIcons{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.navIcons i{
    cursor: pointer;
}



/* Component --> CARD */

.card1, .cardSecondary{
    background-color:#F3F4F6 ;
    height: 350px;
    width: 240px;
    cursor: pointer;
}

.imgDiv{
    background-color: brown;
    height: 70%;
}

.secondaryImgDiv{
    height: 65%;
}

.productImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardDetail{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    color: black;
    line-height: 18px;
}

.productTitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.productDescrip{
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.productPrice{
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
    padding-top: 5px;
    margin-top: 5px;
}

.strikeOut{
    text-decoration: line-through;
    color: black;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.secondaryBtnDiv{
    display: flex;
    justify-content: center;
    margin-top: 6px;
}


.secCardBtn{
    padding: 8px;
    background-color: transparent;
    border:1px #282c3f solid;
    outline: none;
    border-radius: 3px;
}

.secCardBtn:hover{
    background-color:#DDD6FE;
}

